---
import Wrapper from '@/components/fundations/containers/Wrapper.astro';
import Button from '@/components/fundations/elements/Button.astro';
import Text from '@/components/fundations/elements/Text.astro';
import { getLangFromLocals, useTranslations } from '@/i18n/utils';

const lang = getLangFromLocals(Astro.locals);
const t = useTranslations(lang);
---
<section>
  <Wrapper variant="standard" class="pt-24 lg:pt-48">
    <div class="text-balance max-w-3xl mx-auto text-center">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 font-display font-light"
      >
        <span class="block"> {t('hero.titleLine1')}</span>
        <span class="block">{t('hero.titleLine2')}</span>
      </Text>
      <Text tag="p" variant="textBase" class="text-base-600 mt-4">
        {t('hero.desc')}
      </Text>
      <div class="flex justify-center mt-8">
        <Button isLink size="lg" variant="accent" href="/submit">
          {t('hero.cta')}
        </Button>
      </div>
    </div>
  </Wrapper>
</section>
