---
// Get all posts from the "store" collection
import { getCollection } from 'astro:content';

const allProducts = await getCollection('store');

import Wrapper from '@/components/fundations/containers/Wrapper.astro';
import Text from '@/components/fundations/elements/Text.astro';
import StoreCard from '@/components/store/StoreCard.astro';
import { getLangFromLocals, useTranslations } from '@/i18n/utils';
import BaseLayout from '@/layouts/BaseLayout.astro';

const lang = getLangFromLocals(Astro.locals);
const t = useTranslations(lang);
---

<BaseLayout
  seoProps={{
    title: t('store.seoTitle'),
    description: t('store.seoDesc'),
    url: '/store/',
  }}
>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div class="text-balance max-w-xl text-center mx-auto">
        <Text
          tag="h1"
          variant="displayLG"
          class="text-base-900 font-display font-thin"
        >
          {t('store.title')}
        </Text>
        <Text tag="p" variant="textBase" class="text-base-600 mt-4">
          {t('store.desc')}
        </Text>
      </div>

      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mt-12">
        {allProducts.map((post) => <StoreCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
