---
import Wrapper from '@/components/fundations/containers/Wrapper.astro';
import Text from '@/components/fundations/elements/Text.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLangFromLocals, useTranslations } from '@/i18n/utils';

const lang = getLangFromLocals(Astro.locals);
const t = useTranslations(lang);
---

<BaseLayout
  seoProps={{
    title: t('about.title'),
    description: t('about.desc'),
    url: '/about/',
  }}
>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <Wrapper variant="narrow">
        <Text
          tag="h1"
          variant="displayLG"
          class="text-base-900 font-display font-thin max-"
        >
          {t('about.title')}
        </Text>
        <Wrapper variant="prose" class="mt-12">
          <p>
            {t('about.p1')}
          </p>

          <p>
            {t('about.p2')}
          </p>

          <p>
            {t('about.p3')}
          </p>
        </Wrapper>
        <div class="mt-12">
          <Text class="text-base-600 italic">
            {t('about.quote')}
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="text-base-900 mt-2 font-semibold"
          >
            — {t('about.author')}
          </Text>
        </div>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
