---
const { class: className = '', ...props } = Astro.props;
---

<span
  class={`inline-flex items-center font-bold text-base-900 dark:text-white uppercase tracking-wider text-sm gap-2 group-hover:opacity-80 ${className}`}
  {...props}
>
  kukode
</span>
